:root {
    --sidebarColor: rgb(177, 173, 173);
    --bgColor: pink;
    --projectHoverColor: rgb(86, 190, 204);
    --fontSize: 2rem;
    --formWidth: 30%;
    --formHeight: 60%;
    --formColor: rgb(197, 65, 65);
    --addBtnColor: green;
    --cancelAddBtnColor: orange;
    --btnHeight: 30px;
    --btnWidth: calc(3 * var(--btnHeight));
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: var(--fontSize);
    height: var(--fontSize);
}

button {
    border-radius: 2rem;
    width: var(--btnWidth);
    height: var(--btnHeight);
    color: white;
    border: none;
}

button:hover {
    background-color: var(--projectHoverColor)
}

label {
    color: white;
}

#mainContainer {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#sidebar {
    background-color: var(--sidebarColor);
    display: grid;
    grid-auto-rows: min-content;
}

#content {
    background-color: var(--bgColor);
    display: grid;
    grid-auto-rows: min-content;
}

#sidebar div {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

#sidebar div:hover:not(.chosenProject) {
    background-color: var(--projectHoverColor);
}

#sidebar p {
    justify-self: center;
    color: white;
    margin: 10px;
    font-size: var(--fontSize, 2rem);
    font-family: sans-serif;
}

.chosenProject {
    background-color: turquoise;
}

#content div {
    display: grid;
    grid-template-columns: min-content 1fr;
    overflow: auto;
    padding-left: 50px;
    box-shadow: 0 4px 2px -2px gray;
    align-items: center;
}

#content p {
    justify-self: flex-start;
    color: white;
    margin: 10px;
    font-size: var(--fontSize, 2rem);
    font-family: sans-serif;
}

#sidebar img {
    width: var(--fontSize, 2rem);
    height: var(--fontSize, 2rem);
    margin-right: 15px;
}

.addForm {
    position: absolute;
    top: 20%;
    left: 35%;
    border-radius: 2rem;
    width: var(--formWidth);
    height: var(--formHeight);
    background-color: var(--formColor);
    border: 2px solid white;
    visibility: hidden;
}

.addBtn {
    position: absolute;
    bottom: 10%;
    left: 20%;
    background-color: var(--addBtnColor);
}

.cancelAddBtn {
    position: absolute;
    bottom: 10%;
    right: 20%;
    background-color: var(--cancelAddBtnColor);
}

.inputContainer {
    position: absolute;
    top: 10%;
    left: 10%;
}