:root {
    --sidebarColor: rgb(177, 173, 173);
    --bgColor: pink;
    --projectHoverColor: rgb(86, 190, 204);
    --smallFontSize: 1.5rem;
    --fontSize: 2rem;
    --formWidth: 30%;
    --formHeight: 60%;
    --formColor: rgb(197, 65, 65);
    --addBtnColor: green;
    --taskInfoColor: gray;
    --cancelAddBtnColor: orange;
    --btnHeight: 30px;
    --btnWidth: calc(3 * var(--btnHeight));
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: var(--fontSize);
    height: var(--fontSize);
}

button {
    border-radius: 2rem;
    width: var(--btnWidth);
    height: var(--btnHeight);
    color: white;
    border: none;
}

button:hover {
    background-color: var(--projectHoverColor)
}

label {
    padding-top: 10px;
    color: white;
}

#mainContainer {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#sidebar {
    background-color: var(--sidebarColor);
    display: grid;
    grid-auto-rows: min-content;
}

#content {
    background-color: var(--bgColor);
    display: grid;
    grid-auto-rows: min-content;
}

#sidebar div {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

#sidebar div:hover:not(.chosenProject) {
    background-color: var(--projectHoverColor);
}

#sidebar p {
    justify-self: center;
    color: white;
    margin: 10px;
    font-size: var(--fontSize, 2rem);
    font-family: sans-serif;
}

.chosenProject {
    background-color: turquoise;
}

#content div {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(3, min-content);
    overflow: auto;
    padding-left: 50px;
    box-shadow: 0 4px 2px -2px gray;
    align-items: center;
}

#content p {
    justify-self: flex-start;
    color: white;
    margin: 10px;
    font-size: var(--fontSize, 2rem);
    font-family: sans-serif;
}

#sidebar img {
    width: var(--fontSize, 2rem);
    height: var(--fontSize, 2rem);
    margin-right: 15px;
}

.addForm {
    position: absolute;
    top: 20%;
    left: 35%;
    border-radius: 2rem;
    width: var(--formWidth);
    height: var(--formHeight);
    background-color: var(--formColor);
    border: 2px solid white;
    visibility: hidden;
}

.addBtn {
    position: absolute;
    bottom: 10%;
    left: 20%;
    background-color: var(--addBtnColor);
}

.cancelAddBtn {
    position: absolute;
    bottom: 10%;
    right: 20%;
    background-color: var(--cancelAddBtnColor);
}

.inputContainer {
    position: absolute;
    top: 10%;
    left: 10%;
    display: grid;
    grid-template-rows: min-content min-content;
}

/* date and description of task */
#content .taskInfo {
    font-size: var(--smallFontSize);
    margin: 0;
    color: var(--taskInfoColor);
}

.taskDes {
    grid-row: 2/3;
    grid-column: 2/3;
}

.taskDate {
    grid-row: 3/4;
    grid-column: 2/3;
}

/* gray */
.priority1Icon {
    filter: invert(61%) sepia(0%) saturate(539%) hue-rotate(204deg) brightness(83%) contrast(84%);
}

/* blue */
.priority2Icon {
    filter: invert(35%) sepia(44%) saturate(2571%) hue-rotate(199deg) brightness(92%) contrast(90%);
}

/* orange */
.priority3Icon {
    filter: invert(74%) sepia(37%) saturate(6479%) hue-rotate(359deg) brightness(95%) contrast(94%);
}

/* red */
.priority4Icon {
    filter: invert(43%) sepia(98%) saturate(4118%) hue-rotate(342deg) brightness(89%) contrast(82%);
}